<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>文章列表页-Spring Boot集成Jasypt安全框架</title>


    <!--<link rel="icon" type="image/x-icon" href="/static/ico/favicon.ico">-->
    <link alt="test" rel="icon" type="image/x-icon" th:src="@{/static/ico/favicon.ico}"/>

    <link th:href="@{/static/bootstrap-3.3.7/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/static/bootstrap-3.3.7/css/bootstrap-theme.css}" rel="stylesheet"/>
    <link th:href="@{/static/bootstrap-select-1.13.9/css/bootstrap-select.min.css}" rel="stylesheet"/>


    <script type="text/javascript" th:src="@{/static/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/bootstrap-3.3.7/js/bootstrap.js}"></script>

    <script type="text/javascript" th:src="@{/static/bootstrap-select-1.13.9/js/bootstrap-select.js}"></script>
    <script type="text/javascript" th:src="@{/static/bootstrap-select-1.13.9/js/i18n/defaults-zh_CN.min.js}"></script>
    <style>
    </style>
</head>
<body>
<!--<iframe id="external-frame" minlength="20px" marginwidth="20px" width=820 height=330 frameborder=0 scrolling=auto src="./register.html">-->


</iframe>

<div class="container">

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" align="center">
            <button type="submit" class="btn-default" th:onclick="'javascript:create();'">
                新建博客-
            </button>

        </div>

        <select name="" id="optionChange" class="selectpicker">
            <option value="">--请选择--</option>
            <option th:each="tag,start:${allTags}" th:value="${tag.id}" th:text="${tag.tagName}"></option>
        </select>


        <table class="table table-hover">
            <tr>
                <td>ID</td>
                <td>文章标题</td>
                <td>作者</td>
                <td>文章分类</td>
                <td>创建时间</td>
                <td>更新时间</td>
                <td>操作</td>
            </tr>
            <tr th:each="article,stat:${articleList}">
                <td th:text="${stat.index}" th:hidden="true"></td>
                <td th:text="${article.id}"></td>

                <td>
                    <div style="margin-bottom:5px">
                        <a th:text="${article.articleTitle}" class="btn btn-inverse"
                           th:onclick="'javascript:preview(\''+${article.id}+'\');'">文章名称</a>
                    </div>
                </td>

                <td th:text="${article.originalAuthor}"></td>
                <td th:text="${article.articleCategories}"></td>
                <td th:text="${#dates.format(article.publishDate, 'yyyy-MM-dd')}"></td>
                <td th:text="${#dates.format(article.updateDate, 'yyyy-MM-dd HH:mm')}"></td>
                <td>

                    <div class="btn-group-vertical" role="group" aria-label="">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default"
                                    th:onclick="'javascript:edit(\''+${article.id}+'\');'">编辑
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<script type="text/javascript">
    /*
    (function tagList() {
        alert("hahha")
    })();
    */

    function create() {
        window.open("/create");
    }

    function preview(id) {
        window.open("/preview?id=" + id);
    }

    function edit(id) {
        window.open("/editor?id=" + id);
    }

    $(function () {
        $("#optionChange").change(function (data) {
            var tagId = $("#optionChange option:selected").attr("value");
            /*  var url = "/report/city/cityid/" + cityid;
              window.location.href = url;*/
            // alert(tagId);
            window.open("/articlelistbytagid?id=" + tagId);
        });
    });

</script>
</body>
</html>