<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>文章列表页</title>

    <!--<link rel="icon" type="image/x-icon" href="/static/ico/favicon.ico">-->
    <link alt="test" rel="icon" type="image/x-icon" th:src="@{/static/ico/favicon.ico}"/>

    <link th:href="@{/static/bootstrap-3.3.7/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/static/bootstrap-3.3.7/css/bootstrap-theme.css}" rel="stylesheet"/>

    <script type="text/javascript" th:src="@{/static/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/bootstrap-3.3.7/js/bootstrap.js}"></script>
</head>
<body>

<div class="container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" align="center">
            <button type="submit" class="btn-success" th:onclick="'javascript:create();'">
                新建博客
            </button>
        </div>

        <table class="table table-hover">
            <tr>
                <td>序号</td>
                <td>作者</td>
                <td>文章标题</td>
                <td>文章分类</td>
                <td>操作</td>
            </tr>
            <tr th:each="article,stat:${articleList}">
                <td th:text="${stat.index}"></td>
                <td th:text="${article.id}" th:hidden="true"></td>
                <td th:text="${article.originalAuthor}"></td>
                <td th:text="${article.articleTitle}"></td>
                <td th:text="${article.articleCategories}"></td>
                <td>
                    <button type="submit" class="btn-info" th:onclick="'javascript:preview(\''+${article.id}+'\');'">
                        查看
                    </button>
                    <button type="submit" class="btn-info" th:onclick="'javascript:edit(\''+${article.id}+'\');'">
                        编辑
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>

<script type="text/javascript">
    function create() {
        window.open("/create");
    }

    function preview(id) {
        window.open("/preview?id=" + id);
    }

    function edit(id) {
        window.open("/editor?id=" + id);
    }
</script>
</body>
</html>