<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>ProSayJ | 写文章</title>

    <link rel="icon" type="image/x-icon" href="/static/ico/favicon.ico">
    <link rel="stylesheet" href="/static/editormd/css/editormd.css"/>
    <style>
        /*隐藏markdown全窗口预览不会关闭的bug，会导致其他fa选择器同时隐藏*/
        .fa {
            display: none;
        }
    </style>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/editormd/src/editormd.js"></script>
</head>
<head th:replace="~{fragments/header :: header}"></head>
<body>
<div id="app">
    <!--MarkDown的id标志 -->
    <div id="my-editormd">
        <!-- 书写与实时显示的textarea -->
        <textarea id="my-editormd-markdown-doc" name="my-editormd-markdown-doc" style="display:none;"></textarea>
        <!-- 用于后端获取md稳当内容，Java中：request.getParameter("my-editormd-html-code")。 -->
        <textarea id="my-editormd-html-code" name="my-editormd-html-code" style="display:none;"></textarea>
    </div>
    <button id="publishBtn" type="button" class="btn btn-success" style="margin: auto">
        发表博客
    </button>
</div>

<script>
    //初始化md编辑器
    var testEditor;
    $(function () {
        testEditor = editormd("my-editormd", { //注意1：这里的就是上面的DIV的id属性值
            width: "100%",
            height: 840,
            syncScrolling: true, //设置双向滚动
            path: "/static/editormd/lib/", //lib目录的路径
            // previewTheme : "dark", //代码块使用dark主题
            codeFold: true,
            emoji: true,
            tocm: true, // Using [TOCM]
            tex: true, // 开启科学公式TeX语言支持，默认关闭
            flowChart: true, // 开启流程图支持，默认关闭
            sequenceDiagram: true, // 开启时序/序列图支持，默认关闭,
            htmlDecode: true, //不过滤标签
            imageUpload: true, //上传图片
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp", "JPG", "JPEG", "GIF", "PNG", "BMP", "WEBP"],
            imageUploadURL: "/uploadImage",
            onload: function () {
                // console.log('onload', this);
            },
            saveHTMLToTextarea: true, //注意3：这个配置，方便post提交表单
            toolbarIcons: function () {
                return ["bold", "del", "italic", "quote", "|", "h1", "h2", "h3", "h4", "h5", "h6", "|", "list-ul", "list-ol", "hr", "|", "link", "image", "code", "code-block", "table", "datetime", "html-entities", "emoji", "|", "watch", "preview", "fullscreen", "clear", "search", "|", "help", "info"]
            }
        });
    });

    //提交
    var publishBtn = $('#publishBtn');
    var articleContent = $('#my-editormd-html-code');


    publishBtn.click(function () {
        var articleContentValues = articleContent.val();
        var html = testEditor.getHTML();
        console.log(articleContentValues.toString());
        $.ajax({
            type: "POST",
            url: "/publishArticle",
            traditional: true,// 传数组
            data: {
                articleContent: articleContentValues,
                articleHtmlContent: html
            },
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data['status'] == 200) {
                    alert("发表博客成功！");
                }
            },
            error: function () {
                alert("发表博客请求失败！")
            }
        })

        //定时器
        /*
        var closeNoticeBox = setTimeout(function () {
            noticeBox.hide();
        },3000);
    */
    });
</script>
</body>
</html>