<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prosayj.springboot.models.article.mapper.ArticleDomainMapper">
  <resultMap id="BaseResultMap" type="com.prosayj.springboot.models.article.domain.ArticleDomain">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="author_id" jdbcType="BIGINT" property="authorId" />
    <result column="original_author" jdbcType="VARCHAR" property="originalAuthor" />
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
    <result column="article_tags" jdbcType="VARCHAR" property="articleTags" />
    <result column="article_type" jdbcType="TINYINT" property="articleType" />
    <result column="article_categories" jdbcType="VARCHAR" property="articleCategories" />
    <result column="article_url" jdbcType="VARCHAR" property="articleUrl" />
    <result column="likes" jdbcType="VARCHAR" property="likes" />
    <result column="last_article_id" jdbcType="VARCHAR" property="lastArticleId" />
    <result column="next_article_id" jdbcType="INTEGER" property="nextArticleId" />
    <result column="publish_date" jdbcType="DATE" property="publishDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.prosayj.springboot.models.article.domain.ArticleDomain">
    <result column="article_summary" jdbcType="LONGVARCHAR" property="articleSummary" />
    <result column="article_html_content" jdbcType="LONGVARCHAR" property="articleHtmlContent" />
    <result column="article_md_content" jdbcType="LONGVARCHAR" property="articleMdContent" />
  </resultMap>
  <sql id="Base_Column_List">
    id, article_id, author_id, original_author, article_title, article_tags, article_type, 
    article_categories, article_url, likes, last_article_id, next_article_id, publish_date, 
    update_date, is_delete
  </sql>
  <sql id="Blob_Column_List">
    article_summary, article_html_content, article_md_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from article
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.prosayj.springboot.models.article.domain.ArticleDomain">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into article (article_id, author_id, original_author, 
      article_title, article_tags, article_type, 
      article_categories, article_url, likes, 
      last_article_id, next_article_id, publish_date, 
      update_date, is_delete, article_summary, 
      article_html_content, article_md_content
      )
    values (#{articleId,jdbcType=BIGINT}, #{authorId,jdbcType=BIGINT}, #{originalAuthor,jdbcType=VARCHAR}, 
      #{articleTitle,jdbcType=VARCHAR}, #{articleTags,jdbcType=VARCHAR}, #{articleType,jdbcType=TINYINT}, 
      #{articleCategories,jdbcType=VARCHAR}, #{articleUrl,jdbcType=VARCHAR}, #{likes,jdbcType=VARCHAR}, 
      #{lastArticleId,jdbcType=VARCHAR}, #{nextArticleId,jdbcType=INTEGER}, #{publishDate,jdbcType=DATE}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=TINYINT}, #{articleSummary,jdbcType=LONGVARCHAR}, 
      #{articleHtmlContent,jdbcType=LONGVARCHAR}, #{articleMdContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.prosayj.springboot.models.article.domain.ArticleDomain">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        article_id,
      </if>
      <if test="authorId != null">
        author_id,
      </if>
      <if test="originalAuthor != null">
        original_author,
      </if>
      <if test="articleTitle != null">
        article_title,
      </if>
      <if test="articleTags != null">
        article_tags,
      </if>
      <if test="articleType != null">
        article_type,
      </if>
      <if test="articleCategories != null">
        article_categories,
      </if>
      <if test="articleUrl != null">
        article_url,
      </if>
      <if test="likes != null">
        likes,
      </if>
      <if test="lastArticleId != null">
        last_article_id,
      </if>
      <if test="nextArticleId != null">
        next_article_id,
      </if>
      <if test="publishDate != null">
        publish_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="articleSummary != null">
        article_summary,
      </if>
      <if test="articleHtmlContent != null">
        article_html_content,
      </if>
      <if test="articleMdContent != null">
        article_md_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="authorId != null">
        #{authorId,jdbcType=BIGINT},
      </if>
      <if test="originalAuthor != null">
        #{originalAuthor,jdbcType=VARCHAR},
      </if>
      <if test="articleTitle != null">
        #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleTags != null">
        #{articleTags,jdbcType=VARCHAR},
      </if>
      <if test="articleType != null">
        #{articleType,jdbcType=TINYINT},
      </if>
      <if test="articleCategories != null">
        #{articleCategories,jdbcType=VARCHAR},
      </if>
      <if test="articleUrl != null">
        #{articleUrl,jdbcType=VARCHAR},
      </if>
      <if test="likes != null">
        #{likes,jdbcType=VARCHAR},
      </if>
      <if test="lastArticleId != null">
        #{lastArticleId,jdbcType=VARCHAR},
      </if>
      <if test="nextArticleId != null">
        #{nextArticleId,jdbcType=INTEGER},
      </if>
      <if test="publishDate != null">
        #{publishDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="articleSummary != null">
        #{articleSummary,jdbcType=LONGVARCHAR},
      </if>
      <if test="articleHtmlContent != null">
        #{articleHtmlContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="articleMdContent != null">
        #{articleMdContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.prosayj.springboot.models.article.domain.ArticleDomain">
    update article
    <set>
      <if test="articleId != null">
        article_id = #{articleId,jdbcType=BIGINT},
      </if>
      <if test="authorId != null">
        author_id = #{authorId,jdbcType=BIGINT},
      </if>
      <if test="originalAuthor != null">
        original_author = #{originalAuthor,jdbcType=VARCHAR},
      </if>
      <if test="articleTitle != null">
        article_title = #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleTags != null">
        article_tags = #{articleTags,jdbcType=VARCHAR},
      </if>
      <if test="articleType != null">
        article_type = #{articleType,jdbcType=TINYINT},
      </if>
      <if test="articleCategories != null">
        article_categories = #{articleCategories,jdbcType=VARCHAR},
      </if>
      <if test="articleUrl != null">
        article_url = #{articleUrl,jdbcType=VARCHAR},
      </if>
      <if test="likes != null">
        likes = #{likes,jdbcType=VARCHAR},
      </if>
      <if test="lastArticleId != null">
        last_article_id = #{lastArticleId,jdbcType=VARCHAR},
      </if>
      <if test="nextArticleId != null">
        next_article_id = #{nextArticleId,jdbcType=INTEGER},
      </if>
      <if test="publishDate != null">
        publish_date = #{publishDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="articleSummary != null">
        article_summary = #{articleSummary,jdbcType=LONGVARCHAR},
      </if>
      <if test="articleHtmlContent != null">
        article_html_content = #{articleHtmlContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="articleMdContent != null">
        article_md_content = #{articleMdContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.prosayj.springboot.models.article.domain.ArticleDomain">
    update article
    set article_id = #{articleId,jdbcType=BIGINT},
      author_id = #{authorId,jdbcType=BIGINT},
      original_author = #{originalAuthor,jdbcType=VARCHAR},
      article_title = #{articleTitle,jdbcType=VARCHAR},
      article_tags = #{articleTags,jdbcType=VARCHAR},
      article_type = #{articleType,jdbcType=TINYINT},
      article_categories = #{articleCategories,jdbcType=VARCHAR},
      article_url = #{articleUrl,jdbcType=VARCHAR},
      likes = #{likes,jdbcType=VARCHAR},
      last_article_id = #{lastArticleId,jdbcType=VARCHAR},
      next_article_id = #{nextArticleId,jdbcType=INTEGER},
      publish_date = #{publishDate,jdbcType=DATE},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=TINYINT},
      article_summary = #{articleSummary,jdbcType=LONGVARCHAR},
      article_html_content = #{articleHtmlContent,jdbcType=LONGVARCHAR},
      article_md_content = #{articleMdContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.prosayj.springboot.models.article.domain.ArticleDomain">
    update article
    set article_id = #{articleId,jdbcType=BIGINT},
      author_id = #{authorId,jdbcType=BIGINT},
      original_author = #{originalAuthor,jdbcType=VARCHAR},
      article_title = #{articleTitle,jdbcType=VARCHAR},
      article_tags = #{articleTags,jdbcType=VARCHAR},
      article_type = #{articleType,jdbcType=TINYINT},
      article_categories = #{articleCategories,jdbcType=VARCHAR},
      article_url = #{articleUrl,jdbcType=VARCHAR},
      likes = #{likes,jdbcType=VARCHAR},
      last_article_id = #{lastArticleId,jdbcType=VARCHAR},
      next_article_id = #{nextArticleId,jdbcType=INTEGER},
      publish_date = #{publishDate,jdbcType=DATE},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>