/* build time:Sat May 18 2019 20:33:39 GMT+0800 (China Standard Time)*/
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px
}

/* rebuild by neat */